body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#020617;
}

.brand{
display:flex;
gap:10px;
align-items:center;
}

.logo{
background:#0ea5e9;
padding:10px;
border-radius:8px;
font-weight:bold;
}

.container{
padding:20px;
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.card{
background:#020617;
padding:20px;
border-radius:12px;
}

.btn{
padding:10px 15px;
border:none;
border-radius:8px;
cursor:pointer;
margin-right:10px;
}

.primary{
background:#0ea5e9;
color:white;
}

.hidden{
display:none;
}

#map{
width:100%;
height:300px;
margin-top:10px;
border-radius:10px;
}
